*{
    margin: 0px;
    padding: 0px;
}
.row{
    margin: 0px;
    padding: 0px;
}
.header{
    padding: 0px;
    margin: 0px;
}
.head{
    background-image: url(background.png);
    background-size: 100% auto;
    background-repeat: no-repeat;   
    padding: 0px;
}
.head-top{
    color: white;
    
}
.head-brand{
    background-color: rgba(0, 0, 0,0.2);
    height: fit-content;
}
.brand-con{
    margin-left: 6.5rem;
    margin-top: 3.5rem ;
}
.line{
    background-color: lightblue;
    width: 5rem;
    margin-bottom: -1.5rem;
    height: 1rem;
}
.u{
    font-size: 6.5rem;
    font-weight:900 ;
    margin-bottom:-1.5rem;
}
.trend{
    font-size: 2.5rem;
    font-weight: 700;
    width: 30%;
}
.trend span{
    font-size: 2.5rem;
    font-weight: 100;
}
.list{
    background-color: rgba(255, 255, 255, 0.3);
    
}

.list ul{
    margin-top: 8rem;
    text-align: right;
    direction: rtl;
    list-style-type: square;
}
.list ul li{
    font-size: 2.5rem;
    font-weight: 800;
}
.list ul:last-child{
    margin-bottom: 9rem;
}
.bottom-con{
    background-color: rgba(218, 201, 93,0.9);
    color: white;
    font-size: 6rem;
    font-weight: 900;

}
.bottom-con p{
    width: 30rem;
    margin-left: 6.5rem;
    margin-bottom: -2rem;

}
.bottom-con span{
    font-size: 5rem;
    margin-bottom: 2.1rem;
    margin-left: 6.5rem;
    font-weight: 500;
}
.addres{
    background-color: rgba(103, 102, 102,0.4);

}
.adress-con {
    color: white;
    text-align: right;
}
.adress-con span{
        font-weight: 500;
        margin-left: 0.5rem;
        font-size: 1.5rem;
}
.adress-con p{
    margin-bottom: 0px;
    font-size: 1.4rem;
}
.main{
    padding: 0px;
    margin: 0px;
}
.main-left div{
    margin-left: 6.5rem;
    margin-bottom: 1.5rem;

}
.first{
    font-size:5.5rem ;
    font-weight: 500;
    color: rgb(240, 85, 101);
    margin-top: 1rem;
    margin-bottom: 0rem;
}
.start p{
    font-size: 3.2rem;
    margin-bottom: -1rem;
    margin-top: -2rem;
    font-weight: 500;
}
.start span{
    margin-bottom: 4rem;
    font-size: 2.1rem;
    font-weight: 500;
}
.main-right{
    background-color: rgb(54, 184, 216);
}
.logo img{
    width: 7rem;
    height: 7rem;
}
.coded{
    margin-left: 0.7rem;
} 
.coded span{
    color: white;
    font-size: 2.5rem;
    font-weight: 800;
}
.coded p{
    color: white;
    margin-top: -1rem;
    font-size: 1.2rem;
    margin-bottom: 0px;
}
.footer{
    margin: 0px;
    padding: 0px;
}
.footer-left{
    background-color: rgba(206, 241, 240,0.4);
    padding: 0px;
    
}
.footer-left-con{
    margin-left: 7.5rem;
    margin-top: 2rem;
}
.our{
    color: rgb(240, 85, 101);
    font-size: 1.7rem;
    font-weight: 800;
    margin-bottom: -1rem;
}
.coded-con {
    font-size: 4rem;
    color: rgb(91, 91, 91);
    font-weight: 900;
    margin-bottom: -1.5rem;

}
.coded-con span{
    font-size: 1.3rem;
    margin-top: 1.2rem;
    font-weight: 500;

}
.lorem{
    font-size: 1.6rem;
    color: rgb(91, 91, 91);
    margin-top: 1.2rem;
    font-weight: 900;
    margin-bottom: 2rem;
}
.para{
    font-size: 1.2rem;
    width: 82%;
    text-align: justify;
    color: rgb(91, 91, 91);
    margin-bottom: 2.5rem;

}
hr{
    margin-top: 1rem;
    height: 1rem;
    background-color: black;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(240, 85, 101);

}
.footer-right-con {
    margin-right: 3.6rem; 
    
}
.footer-right-con img{
    height: 6rem;
    width: 6rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.footer-right-con span{
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: -1rem;
    color:  rgb(54, 184, 216) ;
}
.footer-right-con p{
    font-size: 2.6rem;
    font-weight: 700;
    color: rgb(91, 91, 91);
}
.earn{
    width: fit-content;
    font-size: 2.2rem !important;
    margin-bottom: -1rem;
}
.reward{
    width: fit-content;
    font-size: 2.2rem !important;

}
.footer-right-con .para2{
    font-size: 1rem;
    width: 75%;
    text-align: justify;
    direction: rtl;
    font-weight: 500;

}
@media only screen and (max-width:1024px) {

    
.brand-con{
    margin-left: 4rem;
    margin-top: 2rem ;
}
    
.line{
    width: 4.5rem;
}
.u{
    font-size: 6rem;
}
.trend{
    font-size: 2rem;
}
.trend span{
    font-size: 2rem;
}

.list ul{
    margin-top: 5.5rem;
}
.list ul li{
    font-size: 2rem;
    font-weight: 800;
}
.list ul:last-child{
    margin-bottom: 5.5rem;
}
.bottom-con{
    font-size: 5rem;
}
.bottom-con p{
    margin-left: 4rem;

}
.bottom-con span{
    font-size: 4rem;
    margin-left: 4rem;
}
.adress-con span{
        font-weight: 500;
        margin-left: 0.5rem;
        font-size: 1.3rem;
}
.adress-con p{
    margin-bottom: 0px;
    font-size: 1rem;
}
.main-left div{
    margin-left: 4rem;
    margin-bottom: 1.5rem;

}
.first{
    font-size:5rem ;
}
.start p{
    font-size: 3rem;
}
.start span{
    font-size: 1.8rem;
}
.logo img{
    width: 6rem;
    height: 6rem;
}
.coded span{
    font-size: 2rem;
}
.coded p{
    font-size: 1rem;
    margin-top: -0.3rem;
}

.footer-left-con{
    margin-left: 5.5rem;
    margin-top: 2rem;
}
.our{
    font-size: 1.6rem;
}
.lorem{
    font-size: 1.3rem;
}
.para{
    font-size: 1.2rem;
    width: 88%;

}
.footer-right-con {
    margin-right: 3rem;
}
.footer-right-con img{
    height: 5rem;
    width: 5rem;
}
.footer-right-con span{
    font-size: 3.1rem;
}
.footer-right-con p{
    font-size: 2rem;
}
.earn{
    font-size: 1.5rem !important;
    margin-bottom: -1rem;
}
.reward{
    font-size: 1.5rem !important;

}
.footer-right-con .para2{
    font-size: 1rem;
    width: 84%;

}
    
}

@media only screen and (max-width:768px) {

    
    .brand-con{
        margin-left: 2.8rem;
        margin-top: 1.5rem ;
    }
        
    .line{
        width: 4rem;
    }
    .u{
        font-size: 5rem;
    }
    .trend{
        font-size: 1.5rem;
    }
    .trend span{
        font-size: 1.5rem;
    }
    
    .list ul{
        margin-top: 4rem;
    }
    .list ul li{
        font-size: 1.6rem;
        font-weight: 800;
    }
    .list ul:last-child{
        margin-bottom: 4rem;
    }
    .bottom-con{
        font-size: 3rem;
    }
    .bottom-con p{
        margin-left: 2.8rem;
        margin-bottom: -0.9rem;
    }
    .bottom-con span{
        font-size: 2.5rem;
        margin-left: 2.8rem;
        margin-bottom: 0rem;
    }
    .adress-con span{
            font-weight: 500;
            margin-left: 0.5rem;
            font-size: 0.9rem;
    }
    .adress-con p{
        margin-bottom: 0px;
        font-size: 0.7rem;
    }
    .main-left div{
        margin-left: 2.8rem;
        margin-bottom: 1.5rem;
    
    }
    .first{
        font-size:4rem ;
    }
    .start p{
        font-size: 2rem;
        margin-bottom: 0rem;
    }
    .start span{
        font-size: 1.1rem;
    }
    .logo img{
        width: 4.5rem;
        height: 4.5rem;
    }
    .coded span{
        font-size: 1.5rem;
    }
    .coded p{
        font-size: 0.6rem;
        margin-top: -0.2rem;
    }
    
    .footer-left-con{
        margin-left: 3.9rem;
        margin-top: 2rem;
    }
    .our{
        font-size: 1.3rem;
    }
    .lorem{
        font-size: 1rem;
    }
    .para{
        font-size: 1rem;
        width: 88%;
    
    }
    .footer-right-con {
        margin-right: 2rem;
    }
    .footer-right-con img{
        height: 4rem;
        width: 4rem;
    }
    .footer-right-con span{
        font-size: 2.3rem;
    }
    .footer-right-con p{
        font-size: 1.5rem;
    }
    .earn{
        font-size: 1.3rem !important;
        margin-bottom: -0.5rem;
    }
    .reward{
        font-size: 1.3rem !important;
    
    }
    .footer-right-con .para2{
        font-size: 0.7rem;
        width: 90%;
    
    }
        
    }


    
@media only screen and (max-width:600px) {

    
    .brand-con{
        margin-left: 1rem;
        margin-top: 0.8rem ;
    }
        
    .line{
        width: 1.7rem;
        height: 0.5rem;
        margin-bottom: -0.9rem;
    }
    .u{
        font-size: 2.5rem;
        margin-bottom: -0.5rem;
    }
    .trend{
        font-size: 0.8rem;
    }
    .trend span{
        font-size: 0.8rem;
    }
    
    .list ul{
        margin-top: 1.8rem;
    }
    .list ul li{
        font-size: 1rem;
        font-weight: 800;
    }
    .list ul:last-child{
        margin-bottom: 1.8rem;
    }
    .bottom-con{
        font-size: 2rem;
    }
    .bottom-con p{
        margin-left: 1rem;
        margin-bottom: -0.9rem;
        width: fit-content;
    }
    .bottom-con span{
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-bottom: 0rem;
    }
    .adress-con span{
            font-weight: 500;
            margin-left: 0.3rem;
            font-size: 0.5rem;
    }
    .adress-con p{
        margin-bottom: 0px;
        font-size: 0.5rem;
    }
    .main-left div{
        margin-left: 2.8rem;
        margin-bottom: 1.5rem;
    
    }
    .first{
        font-size:4rem ;
        margin-left: 0px;
    }
    .start{
        margin-left: 0px;

    }
    .start p{
        font-size: 2rem;
        margin-bottom: 0rem;
    }
    .start span{
        font-size: 1.1rem;

    }
    .right-con{
        margin: 2rem 0px;
    }
    .logo img{
        
        width: 4.5rem;
        height: 4.5rem;
    }
    .coded{
        margin-left: 0.3rem;
    }
    .coded span{
        font-size: 1.3rem;
    }
    .coded p{
        font-size: 0.6rem;
    }
    
    .footer-left-con{
        margin-left: 3.9rem;
        margin-top: 2rem;
    }
    .our{
        font-size: 1.3rem;
    }
    .coded-con{
        font-size: 3rem;
        margin-top: 0.5rem;
    }
    .coded-con span{
        margin-top: 0.7rem;
    }
    .lorem{
        font-size: 1rem;
    }
    .para{
        font-size: 1rem;
        width: 88%;
    
    }
    
    .footer-right-con{
        margin-top: 1.5rem;
        margin-right: 0px;
    }
    .footer-right-con img{
        height: 4rem;
        width: 4rem;
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;

    }
    .footer-right-con span{
        font-size: 2.3rem;
    }
    .footer-right-con p{
        font-size: 1.5rem;
    }
    .earn{
        font-size: 1.3rem !important;
        margin-bottom: -0.5rem;
    }
    .reward{
        font-size: 1.3rem !important;
    
    }
    .footer-right-con .para2{
        font-size: 0.7rem;
        width: 70%;
    
    }
        
    }
    
    
@media only screen and (max-width:375px) {

    
    .brand-con{
        margin-left: 1rem;
        margin-top: 0.8rem ;
    }
        
    .line{
        width: 1.5rem;
        height: 0.5rem;
        margin-bottom: -0.9rem;
    }
    .u{
        font-size: 2.2rem;
        margin-bottom: -0.5rem;
    }
    .trend{
        font-size: 0.6rem;
    }
    .trend span{
        font-size: 0.6rem;
    }
    
    .list ul{
        margin-top: 1.8rem;
    }
    .list ul li{
        font-size: 0.7rem;
        font-weight: 800;
    }
    .list ul:last-child{
        margin-bottom: 1.8rem;
    }
    .bottom-con{
        font-size: 1.5rem;
    }
    .bottom-con p{
        margin-left: 1rem;
        margin-bottom: -0.5rem;
        width: fit-content;
    }
    .bottom-con span{
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-bottom: 0rem;
    }
    .adress-con span{
            font-weight: 500;
            margin-left: 0.3rem;
            font-size: 0.5rem;
    }
    .adress-con p{
        margin-bottom: 0px;
        font-size: 0.4rem;
    }
    .main-left div{
        margin-left: 2.8rem;
        margin-bottom: 1.5rem;
    
    }
    .first{
        font-size:3.5rem ;
    }
    .start p{
        font-size: 1.8rem;
        margin-bottom: 0rem;
    }
    .start span{
        font-size: 0.9rem;
    }
    .right-con{
        margin: 2rem 0px;
    }
    .logo img{
        
        width: 4.5rem;
        height: 4.5rem;
    }
    .coded span{
        font-size: 1.3rem;
    }
    .coded p{
        font-size: 0.6rem;
    }
    
    .footer-left-con{
        margin-left: 2rem;
        margin-top: 2rem;
    }
    .our{
        font-size: 1.1rem;
    }
    .lorem{
        font-size: 0.8rem;
    }
    .para{
        font-size: 0.7rem;
        width: 88%;
    
    }
    
    .footer-right-con{
        margin-right: 0px;
    }
    .footer-right-con img{
        height: 4rem;
        width: 4rem;
    }
    .footer-right-con span{
        font-size: 2.3rem;
    }
    .footer-right-con p{
        font-size: 1.5rem;
    }
    .earn{
        font-size: 1.3rem !important;
        margin-bottom: -0.5rem;
    }
    .reward{
        font-size: 1.3rem !important;
    
    }
    .footer-right-con .para2{
        font-size: 0.7rem;
        width: 70%;
    
    }
        
    }
    
@media only screen and (max-width:375px) {

    
    .brand-con{
        margin-left: 0.7rem;
        margin-top: 0.4rem ;
    }
        
    .line{
        width: 1.3rem;
        height: 0.3rem;
        margin-bottom: -0.5rem;
    }
    .u{
        font-size: 1.9rem;
        margin-bottom: -0.5rem;
    }
    .trend{
        font-size: 0.6rem;
    }
    .trend span{
        font-size: 0.6rem;
    }
    
    .list ul{
        margin-top: 1.4rem;
    }
    .bottom-con p{
        margin-left: 0.7rem;
        font-size: 1.2rem;
    }
    .bottom-con span{
        font-size: 1.2rem;
        margin-left: 0.7rem;
        margin-bottom: 0rem;
    }
    .adress-con span{
            font-weight: 500;
            margin-left: 0.3rem;
            font-size: 0.4rem;
    }
    .adress-con p{
        margin-bottom: 0px;
        font-size: 0.3rem;
    }
    .main-left div{
        margin-left: 1.5rem;
    
    }
    .first{
        font-size:3rem ;
    }
    .start p{
        font-size: 1.5rem;
        margin-bottom: 0rem;
    }
    .start span{
        font-size: 0.7rem;
    }
        
    }